@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --clr-primary-cyan400: hsl(179, 62%, 43%);
  --clr-primary-cyan500: hsl(179, 47%, 39%);
  --clr-primary-yellow: hsl(71, 73%, 54%);

  --clr-neutral-400: hsl(204, 43%, 93%);
  --clr-neutral-500: hsl(218, 22%, 67%);
}
/* Reset */
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: var(--clr-neutral-400);
  color: white;
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

/*Helper Utilities */
.txt-primary {
  color: var(--clr-primary-cyan400);
}
.txt-yellow {
  color: var(--clr-primary-yellow);
}
.txt-neutral500 {
  color: var(--clr-neutral-500);
}
.txt-bold {
  font-weight: 700;
}
.txt-muted {
  color: var(--clr-neutral-400);
  opacity: 50%;
}
.txt-large {
  font-size: 2rem;
}
.p-20 {
  padding: 20px;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.gap-2r {
  gap: 2rem;
}
.line-1p5 {
  line-height: 1.5;
}
main {
  max-width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

/* Section styling */
.section-join__content p {
  margin-block: 10px;
}
.section-subscription {
  background-color: var(--clr-primary-cyan500);
}

.section-subscription h3 {
  padding-bottom: 15px;
}

.subscription-price {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 5px;
}

.section-subscription > p {
  margin-bottom: 30px;
}

.btn-signup {
  background-color: var(--clr-primary-yellow);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 1.25rem;
  font-family: inherit;
}
.btn-signup:hover {
  cursor: pointer;
}
.section-about {
  background-color: var(--clr-primary-cyan400);
  gap: 0.5rem;
}

li {
  color: var(--clr-neutral-400);
  opacity: 80%;
  margin-block: px;
}

/* Media Query */

@media only screen and (min-width: 725px) {
  main {
    display: grid;
    max-width: 650px;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .section-join {
    grid-column: 1 / span 2;
  }
}
